.create-auction-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: rgba(51, 98, 127, 0.5);
    border-radius: 8px;
  }
  
  .card {
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  .card h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #343a40;
    text-align: center;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #1a4e86;
  }
  
  .form-control {
    border-radius: 8px !important;
    margin-top: 0.5rem !important;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .alert {
    border-radius: 8px;
  }
  
  @media (max-width: 576px) {
    .create-auction-container {
      margin-top: 30px;
    }
  }
  