/* Conteneur pour les informations d'enchères */
.bid-info {
  display: flex; /* Utilise Flexbox pour aligner les éléments côte à côte */
  align-items: center; /* Centre verticalement les éléments */
  margin-top: 15px; /* Ajoute un peu d'espace au-dessus */
  margin-bottom: 15px; /* Ajoute un peu d'espace en bas */
  width: 100%; /* Assurez-vous qu'il occupe toute la largeur disponible */
}

/* Styles pour les offres et les enchérisseurs */
.bid-info p {
  display: flex; /* Utilise Flexbox pour aligner l'icône et le texte */
  font-size: 14px; /* Taille de la police */
  color: #666; /* Couleur du texte */
  margin: 0 10px; /* Ajoute un espacement entre les éléments */
  align-items: center; /* Centre verticalement le texte par rapport à l'icône */
}

/* Espacement pour les icônes */
.bid-info svg {
  margin-right: 5px; /* Espace entre l'icône et le texte */
}